@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spectral&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Spectral', serif;  */

/* GENERAL ELEMENTS */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    height: 100%;
}

body {
    height: 100%;
}

main {
    height: 100%;
}

h2 {
    font-family: 'Spectral', serif; 
    font-size: 7rem;
    margin-bottom: 5%;
    font-weight: bold;
}

/* HEADER */

header {
    border-bottom: 1px solid #191919;
    z-index: 1;
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    background-color: #ffc017;
}

nav a {
    text-decoration: none;
    color: black;
}

nav button {
    background-color: #191919;
    color: white;
    border-radius: 99em;
    padding: 8px 16px;
    border: none;
}

ul {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

/* HERO */

.hero {
    display: flex;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    position: relative;
    width: 100%;
    top: 8%;
    margin-bottom: 5%;
}

.title_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}

.title_container p {
    font-size: 2rem;
}

 .title_container button {
    width: 30%;
    background-color: #191919;
    color: white;
    border-radius: 99em;
    padding: 12px 24px;
    margin-top: 5%;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
 }
svg {
    width: 50%;
}

/* MAIN TRENDING*/

.trending h3 {
    display: inline;
    font-weight: bold;
    line-height: 20px;
    font-size: 1.2rem;
    margin: 2% 0;
}

.trending {
    border-bottom: 1px solid #19191947;
}

.trending-title {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
    margin-left: 2.5%;
}

.trending-title img {
    padding-right: 1%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    display: flex;
    width: 30%;
    margin-bottom: 2.5%;
}
.card h4 {
    display: inline;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0.1;
    margin-right: 2%;
}

.card-description {
    display: inline-flex;
    align-items: center;
}

.card-description img {
    border-radius: 3px;
    margin-right: 2%;
    width: 20px;
}

#circle-image {
    border-radius: 50%;
    margin-right: 2%;
    width: 20px;
}

.total-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-card p {
    font-size: 0.8rem;
    font-weight: bold;
}

.total-card span {
    opacity: 0.5;
}
.reader-time {
    opacity: 0.5;
    display: flex;
    align-items: center;
}

.reader-time img {
    opacity: 1;
}

/* MAIN POST */

.posts h3 {
    display: inline;
    font-weight: bold;
    line-height: 20px;
    font-size: 1.2rem;
    margin: 2% 0;
}

.posts {
    width: 45%;
}

.total-card {
    width: 100%;
}
.single-post {
    display: flex;
    width: 100%;
    margin: 5%;
    justify-content: space-between;
}
.post-image {
    width: 25%;
    margin: 2.5%;
}

.post-description {
    opacity: 0.5;
}

.post-reader-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.post-reader-time p {
    opacity: 0.5;
    display: flex;
    align-items: center; 
}

.post-reader-time span {
    background-color: #19191947;
    padding: 5px;
    border-radius: 5px;
}

/* ASIDE */
.post-aside {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 45%;
    margin: 2.5%;
}

.aside-fixed {
    position: fixed;
    top: 10%;
    right: 0;
}
.type-list {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #19191947;
    padding: 5% 0;
}

.type-list a {
    width: 25%;
    text-decoration: none;
    color: #191919;
    border: 1px solid #191919;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    opacity: 0.5;
}

.footer a {
    font-size: 1.2rem;
    display: inline-block;
    margin: 5% 2.5%;
    text-decoration: none;
    color: #191919;
    opacity: 0.5;
}

@keyframes nav-switch {
    0% {
        background-color: #ffc017;
    }

    50% {
        background-color: white;
    }
    100% {
        background-color: white;
    }
}

.nav-switch {
    animation: nav-switch 1s ease;
    animation-fill-mode: forwards;
}

@keyframes btn-switch {
    0% {
        background-color: #191919;
    }

    50% {
        background-color: #1a8917;
    }

    100% {
        background-color: #1a8917;
    }
}

.btn-switch {
    animation: btn-switch 1s ease;
    animation-fill-mode: forwards;
}